body {
    background: rgba(245, 245, 245);
}


.card-raised {
    border: none;
}

.card-quick-link .card-body {
    position: relative;
    padding-left: 4.75rem;
}

    .card-quick-link .card-body .card-quick-link-img {
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 44px;
        width: 44px;
    }
.shadow-1, .popover, .card-raised {
    /* @alternate */
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.mainmenu ul {
    margin-bottom: 0;
    padding-left: 0;
    
}

.login-wraper {
    background: #f7f7f7;
    padding: 30px 15px 15px 15px;
    margin: 40px 0 40px 0;
    box-shadow: 0 0 8px 3px #969696;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .mobile_menu {
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu {
        display: none;
    }

    .mobile_menu {
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu {
        display: none;
    }

    .mobile_menu {
        display: block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu {
        display: none;
    }

    .mobile_menu {
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menu {
        display: block;
    }

    .mobile_menu {
        display: none;
    }
    .mainmenu ul {
        margin-bottom: 0;
        padding-left: 0;
        float: right;
    }
}
